@font-face {
  font-family: 'Comfortaa';
  font-weight: 100;
  src: url('../affinity-engine/fonts/Comfortaa/Comfortaa-Light.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 400;
  src: url('../affinity-engine/fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-weight: 700;
  src: url('../affinity-engine/fonts/Comfortaa/Comfortaa-Bold.ttf');
}
