@import "affinity-engine/variables";
@import "affinity-engine/mixins";

.affinity-engine {
  @extend .ae-full-size;
  @extend .ae-undraggable;

  background-color: $ae-main-background-color;

  font-family: $ae-primary-font-family;

  overflow: hidden;
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}
