@import "affinity-engine/curtain";
@import "affinity-engine/director";
@import "affinity-engine/layer";
@import "affinity-engine/menu-bar";

.affinity-engine {
  @extend .et-full-screen;
  @extend .et-undraggable;

  background-color: $et-blank-screen-background-color;
  font-family: $et-primary-font-family;

  overflow: hidden;
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}
