.ae-menu {
  z-index: 1000;

  position: absolute;

  .ember-flex-menu-option-button {
    @extend .ae-button;

    display: block;
  }

  .ae-menu-header {
    margin: $ae-menu-header-margin;
  }

  .ember-flex-menu-option-button, .ae-menu-header, .ember-flex-menu-option-input {
    line-height: $ae-menu-child-line-height;
    text-align: $ae-menu-child-text-align;
  }

  .ember-flex-menu-option-input {
    @extend .ae-input;
  }

  .ae-menu-close {
    position: absolute;
    width: inherit !important;
    top: $ae-menu-padding;
    right: $ae-menu-padding;
    padding: 0 $ae-menu-padding;

    .ember-flex-menu-option-button-text {
      @extend .ae-sr-only;
    }
  }
}
