$ae-text-padding-base: $ae-default-line-height * 0.62;

$ae-text-border-width: $ae-default-border-width !default;
$ae-text-opacity: $ae-semi-transparency !default;
$ae-text-font-family: $ae-primary-serif !default;
$ae-text-font-size: $ae-default-font-size !default;
$ae-text-text-align: left !default;

$ae-text-caption-font-family: $ae-primary-sans-serif !default;
$ae-text-caption-font-size: $ae-tiny-font-size !default;
$ae-text-caption-font-weight: bold !default;
