$ae-primary-serif: "Times New Roman", Times, serif !default;
$ae-primary-sans-serif: Arial, Helvetica, sans-serif !default;
$ae-primary-font-family: $ae-primary-serif !default;

$ae-default-line-height: 48px !default;

$ae-default-font-size: 32px !default;
$ae-tiny-font-size: $ae-default-font-size * 0.6 !default;
$ae-small-font-size: $ae-default-font-size * 0.8 !default;
$ae-large-font-size: $ae-default-font-size * 1.2 !default;
$ae-huge-font-size: $ae-default-font-size * 1.4 !default;
