.ae-input {
  border-width: $ae-input-border-width;
  border-radius: $ae-input-border-radius;
  font-size: $ae-input-font-size;
  transition: border $ae-input-transition-speed ease;

  outline: none;
  box-sizing: border-box;
}
