@mixin ae-highlight($ae-highlight-color) {
  &::selection {
    color: $ae-highlight-color;
    background: transparent;
  }
  &::-moz-selection {
    color: $ae-highlight-color;
    background: transparent;
  }
}
